{% extends 'base.html' %}

{% block title %}
Agregar pedido
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}

{% block content %}
<section class="section">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mt-4 mb-4">
            <h1>Por favor, solicita tu pedido aquí:</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form id="formulario" class="row g-3" action="/agregar-pedido" method="post">
                        <div class="col-md-4">
                            <label for="region" class="form-label">Región</label>
                            <select id="region" name="region" class="form-select" required>
                                <option value="" selected disabled>Seleccione una opción</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="comuna" class="form-label">Comuna</label>
                            <select id="comuna" name="comuna" class="form-select" required>
                                <option value="" selected disabled>Seleccione una opción</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="tipo" class="form-label">Tipo de pedido</label>
                            <select id="tipo" name="tipo" class="form-select" required>
                                <option value="" selected disabled>Seleccione una opción</option>
                                <option value="fruta">Fruta</option>
                                <option value="verdura">Verdura</option>
                                <option value="otro">Otro</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <textarea class="form-control" id="descripcion" name="descripcion"
                                placeholder="Las naranjas las quiero jugosas" maxlength="80" rows="3"
                                required></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="cantidad" class="form-label">Cantidad</label>
                            <textarea class="form-control" id="cantidad" name="cantidad" placeholder="" maxlength="10"
                                rows="3" required></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Nombre del solicitante</label>
                            <textarea class="form-control" id="nombre" name="nombre" placeholder="Juan Perez"
                                minlength="3" maxlength="80" rows="1" required></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email de contacto</label>
                            <textarea class="form-control" id="email" name="email" placeholder="juan@gmail.com"
                                maxlength="30" rows="1" required></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="celular" class="form-label">Número de celular del contacto</label>
                            <textarea class="form-control" id="celular" name="celular" placeholder="+569 1234 5678"
                                maxlength="15" rows="1"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button type="button" id="envio" class="btn btn-outline-success">Agregar pedido</button>
                        </div>
                        <div id="liveAlertPlaceholder" class="col-md-12"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename = 'js/validator-agregar-pedido.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/selectRegionComuna.js') }}"></script>
{% endblock %}