{% extends 'base.html' %}

{% block title %}
Agregar donación
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}

{% block content %}
<section class="section">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mt-4 mb-4">
            <h1>Por favor, agrega tu donación aquí:</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form class="row g-3" enctype="multipart/form-data" action="/agregar-donacion" method="post">
                        <div class="col-md-3">
                            <label for="region" class="form-label">Región</label>
                            <select id="region" name="region" class="form-select" required>
                                <option value="" selected disabled>Seleccione una opción</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="comuna" class="form-label">Comuna</label>
                            <select id="comuna" name="comuna" class="form-select" required>
                                <option value="" selected disabled>Seleccione una opción</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="calle-numero" class="form-label">Calle y número</label>
                            <textarea class="form-control" id="calle-numero" name="calle-numero"
                                placeholder="Beauchef 850" maxlength="80" rows="2" required></textarea>
                        </div>
                        <div class="col-md-3">
                            <label for="tipo" class="form-label">Tipo de donación</label>
                            <select id="tipo" name="tipo" class="form-select" required>
                                <option value="" selected disabled>Seleccione una opción</option>
                                <option value="fruta">Fruta</option>
                                <option value="verdura">Verdura</option>
                                <option value="otro">Otro</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <label for="cantidad" class="form-label">Cantidad</label>
                            <textarea class="form-control" id="cantidad" name="cantidad" placeholder="" maxlength="10"
                                rows="1" required></textarea>
                        </div>
                        <div class="col-md-4">
                            <label for="fecha-disponibilidad" class="form-label">Fecha de disponibilidad</label>
                            <textarea class="form-control" id="fecha-disponibilidad" name="fecha-disponibilidad"
                                placeholder="año-mes-día" rows="1" required></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <textarea class="form-control" id="descripcion" name="descripcion"
                                placeholder="Las naranjas vienen jugosas" maxlength="80" rows="3"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="condiciones" class="form-label">Condiciones para retirar</label>
                            <textarea class="form-control" id="condiciones" name="condiciones"
                                placeholder="Trae guantes" maxlength="80" rows="3"></textarea>
                        </div>
                        <div class="input-group col-md-12" id="foto-div-1">
                            <label class="input-group-text" for="foto-1">Foto Donación</label>
                            <input type="file" class="form-control" id="foto-1" name="foto-1" required
                                onclick="agregarFoto()">
                        </div>
                        <div class="col-md-6">
                            <label for="nombre" class="form-label">Nombre del donante</label>
                            <textarea class="form-control" id="nombre" name="nombre" placeholder="Juan Perez"
                                minlength="3" maxlength="80" rows="1" required></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email de contacto</label>
                            <textarea class="form-control" id="email" name="email" placeholder="juan@gmail.com"
                                maxlength="30" rows="1" required></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="celular" class="form-label">Número de celular del contacto</label>
                            <textarea class="form-control" id="celular" name="celular" placeholder="912345678"
                                maxlength="15" rows="1"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button type="button" id="envio" class="btn btn-outline-success">Agregar
                                donación</button>
                        </div>
                        <div id="liveAlertPlaceholder" class="col-md-12">
                        </div>
                        <div class="col-md-12">
                            {% if error %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div>{{ error }}</div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename = 'js/validator-agregar-donacion.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/selectRegionComuna.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/agregarFotos.js') }}"></script>
{% endblock %}