{% extends 'base.html' %}

{% block title %}
Informacion Pedido
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/info-donacion.css') }}">
{% endblock %}

{% block content %}
<section class="section">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mt-4 mb-4">
            <h1>Información del pedido:</h1>
        </div>
    </div>
    <div class="container text-center table-responsive">
        <div class="row">
            <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
                <ul class="nav nav-pills">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-expanded="false">Atajos</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#scrollspyHeading1">Region</a></li>
                            <li><a class="dropdown-item" href="#scrollspyHeading2">Comuna</a></li>
                            <li><a class="dropdown-item" href="#scrollspyHeading3">Tipo de pedido</a></li>
                            <li><a class="dropdown-item" href="#scrollspyHeading4">Descripción de pedido</a></li>
                            <li><a class="dropdown-item" href="#scrollspyHeading5">Cantidad</a></li>
                            <li><a class="dropdown-item" href="#scrollspyHeading6">Nombre del solicitante</a></li>
                            <li><a class="dropdown-item" href="#scrollspyHeading7">Email del solicitante</a></li>
                            <li><a class="dropdown-item" href="#scrollspyHeading8">Número celular del
                                    solicitante</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
                data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
                <div id="scrollspyHeading1" class="mb-3 text-start">
                    <h3 class="d-inline">Region:</h3>
                    <p class="d-inline fs-4"> {{pedido.region}}</p>
                </div>
                <hr>
                <div id="scrollspyHeading2" class="mb-3 text-start">
                    <h3 class="d-inline">Comuna:</h3>
                    <p class="d-inline fs-4">{{pedido.comuna}}</p>
                </div>
                <hr>
                <div id="scrollspyHeading3" class=" mb-3 text-start">
                    <h3 class="d-inline">Tipo de pedido:</h3>
                    <p class="d-inline fs-4">{{pedido.tipo}}</p>
                </div>
                <hr>
                <div id="scrollspyHeading4" class="mb-3 text-start">
                    <h3 class="d-inline">Descripción de pedido:</h3>
                    <p class="d-inline fs-4">{{pedido.descripcion}}</p>
                </div>
                <hr>
                <div id="scrollspyHeading5" class="mb-3 text-start">
                    <h3 class="d-inline">Cantidad:</h3>
                    <p class="d-inline fs-4">{{pedido.cantidad}}</p>
                </div>
                <hr>
                <div id="scrollspyHeading6" class="mb-3 text-start">
                    <h3 class="d-inline">Nombre del solicitante:</h3>
                    <p class="d-inline fs-4">{{pedido.nombre_solicitante}}</p>
                </div>
                <hr>
                <div id="scrollspyHeading7" class="mb-3 text-start">
                    <h3 class="d-inline">Email del solicitante:</h3>
                    <p class="d-inline fs-4">{{pedido.email_solicitante}}</p>
                </div>
                <hr>
                <div id="scrollspyHeading8" class="mb-3 text-start">
                    <h3 class="d-inline">Número celular del solicitante:</h3>
                    <p class="d-inline fs-4">{{pedido.celular_solicitante}}</p>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <a href="{{ url_for('ver_pedidos') }}" class="btn btn-outline-danger">Volver al listado de pedidos</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename = 'js/cambiarRuta.js') }}"></script>
{% endblock %}