{% extends 'base.html' %}

{% block title %}
Tarea 2
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}

{% block content %}
<section>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mt-4 mb-4">
            <h1>Huerto Compartido</h1>
            <div>
                <img src="{{ url_for('static', filename = 'img/Huerto_Compartido.png') }}" alt="Huerto Compartido" width="100">
            </div>
        </div>

    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="card">
                <div class="card-body">
                    <h4>Con el fin de promover la solidaridad y tratar de aprovechar los cultivos que las personas hacen
                        en sus casas, evitando pérdidas por exceso de producción, se pide desarrollar una aplicación
                        web que permita informar la disponibilidad de frutas o verduras que se regalan. Además, las
                        personas que necesiten alguna fruta o verdura también podrán informar un pedido de donación.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}