{% extends 'base.html' %}

{% block title %}
Ver pedidos
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}

{% block content %}
<section class="section">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mt-4 mb-4">
            <h1>Aquí puedes ver los pedidos:</h1>
        </div>
    </div>
    <div class="container text-center table-responsive">
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover table-bordered border-black">
                    <thead class="table-primary">
                        <tr>
                            <th>Comuna</th>
                            <th>Tipo</th>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>Nombre solicitante</th>
                        </tr>
                    </thead>
                    <tbody class="table-light align-middle">
                        <tr onclick="informacionPedido()">
                            <td>San Bernardo</td>
                            <td>Fruta</td>
                            <td>Tengo hambre</td>
                            <td>4 unidades</td>
                            <td>Cristian</td>
                        </tr>
                        <tr onclick="informacionPedido()">
                            <td>Calera de Tango</td>
                            <td>Fruta</td>
                            <td>Soy alergico a las paltas</td>
                            <td>2 kilos</td>
                            <td>Andrés</td>
                        </tr>
                        <tr onclick="informacionPedido()">
                            <td>Talagante</td>
                            <td>Otros</td>
                            <td>Vegetariano</td>
                            <td>Mucho</td>
                            <td>Francisca</td>
                        </tr>
                        <tr onclick="informacionPedido()">
                            <td>Peñaflor</td>
                            <td>Fruta</td>
                            <td>Tengo hambre</td>
                            <td>1 kilo</td>
                            <td>Diego</td>
                        </tr>
                        <tr onclick="informacionPedido()">
                            <td>Buin</td>
                            <td>Verdura</td>
                            <td>Acepto lo que sea</td>
                            <td>3 unidades</td>
                            <td>Jorge</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <a href="{{ url_for('inicio') }}" class="btn btn-outline-danger">Volver a Inicio</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename = 'js/cambiarRuta.js') }}"></script>
{% endblock %}