{% extends 'base.html' %}

{% block title %}
Ver donaciones
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}

{% block content %}
<section class="section">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mt-4 mb-4">
            <h1>Aquí puedes ver las donaciones:</h1>
        </div>
    </div>
    <div class="container text-center table-responsive">
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover table-bordered border-black">
                    <thead class="table-primary">
                        <tr>
                            <th>Comuna</th>
                            <th>Tipo</th>
                            <th>Cantidad</th>
                            <th>Fecha</th>
                            <th>Nombre</th>
                            <th>Foto</th>
                        </tr>
                    </thead>
                    <tbody class="table-light align-middle">
                        <tr onclick="informacionDonacion()">
                            <td>San Bernardo</td>
                            <td>Fruta</td>
                            <td>4 unidades</td>
                            <td>Hoy</td>
                            <td>Cristian</td>
                            <td><img src="{{ url_for('static', filename='img/naranja.png') }}" alt="Naranja" class="foto"></td>
                        </tr>
                        <tr onclick="informacionDonacion()">
                            <td>Calera de Tango</td>
                            <td>Fruta</td>
                            <td>2 kilos</td>
                            <td>Mañana</td>
                            <td>Andrés</td>
                            <td><img src="{{ url_for('static', filename='img/palta.png') }}" alt="palta" class="foto"></td>
                        </tr>
                        <tr onclick="informacionDonacion()">
                            <td>Talagante</td>
                            <td>Otros</td>
                            <td>Mucho</td>
                            <td>10/04/2023</td>
                            <td>Francisca</td>
                            <td><img src="{{ url_for('static', filename='img/favicon.png') }}" alt="girasol" class="foto"></td>
                        </tr>
                        <tr onclick="informacionDonacion()">
                            <td>Peñaflor</td>
                            <td>Fruta</td>
                            <td>1 kilo</td>
                            <td>23/04/2023</td>
                            <td>Diego</td>
                            <td><img src="{{ url_for('static', filename='img/arandanos.png') }}" alt="arandanos" class="foto"></td>
                        </tr>
                        <tr onclick="informacionDonacion()">
                            <td>Buin</td>
                            <td>Verdura</td>
                            <td>3 unidades</td>
                            <td>15/04/2023</td>
                            <td>Jorge</td>
                            <td><img src="{{ url_for('static', filename='img/dona.png') }}" alt="piña" class="foto"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <a href="{{ url_for('inicio') }}" class="btn btn-outline-danger">Volver a Inicio</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename = 'js/cambiarRuta.js') }}"></script>
{% endblock %}